{% extends 'shared/base.html'%}
{% load static %}
{% block content %}

<body>
	
	<section class="sessao-principal">
		<div class="container-img">
			<img src="{% static '/assets/img/logo-branca-mobile.svg' %}" alt="">
		</div>

		<h2 class="sessao__titulo">Boas-vindas!</h2>
		<p class="sessao__paragrafo">Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!</p>

		<a href="{% url 'login' %}" type="submit" class="sessao__botao">Já tenho conta</a>
		<a href="{% url 'cadastro' %}" type="submit" class="sessao__botao">Quero me cadastrar</a>
	</section>

	<div class="background-dog"></div>

</body>

{% endblock %}